@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Inconsolata:wght@200&family=Indie+Flower&family=Teko&display=swap');

body {
    background: linear-gradient(to bottom, rgb(176, 245, 245), rgb(165, 199, 236), rgb(217, 222, 228));
    height: 100vw; 
    box-sizing: border-box;
}

*{
    padding: 0%;
    margin: 0%;
}

.cabecalho {
    padding: 2%;
    display: flex;
    justify-content: center;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    text-decoration: none;
    color: black;
}

.cabecalho-menu-link:hover {
    color: cadetblue;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 20%;
}

.imagem {
    width: 20%;
    transition: transform 0.5s;
    animation: girar 1s linear;
  }
  
  @keyframes girar {
    0% {
      transform: rotatey(0deg);
    }
    100% {
      transform: rotatey(360deg);
    }
}

  .imagem:hover {
    transform: scale(1.9);
    transition-timing-function: linear;
  }
  

.apresentacao-conteudo {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Inconsolata', monospace;
    padding: 0% 4% 0% 0%;
}

.apresentacao-conteudo-titulo {
    text-align: center;
    font-size: 40px;
    font-family: 'Castoro Titling', cursive;
}


.apresentacao-conteudo-subtitulo {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.apresentacao-conteudo-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
}

.apresentacao-conteudo-links-link {
    display: flex;
    gap: 10%;
    align-items: center;
}

.linkedin {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 6px;
    color: black;
}

.github {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 6px;
    color: black;
}

.github:hover {
    transform: scale(1.1);
    transition-timing-function: linear;
    opacity: 0.8;
}

.linkedin:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition-timing-function: linear;
}

.apresentacao-conteudo-lista {
    /* list-style-type: none; */
    list-style-position: inside;
}

@media (max-width: 1000px) {
    .cabecalho {
        font-size: 0.8rem;
        padding: 0;
        margin: 3%;
    }

    .cabecalho-menu {
        gap: 30px;
        text-align: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        margin: 0;
    }

    .imagem {
        padding: 2%;
        width: 30%;
    }

    .apresentacao-conteudo {
        gap: 8px;
        font-size: 0.8rem;
    }

    .apresentacao-conteudo-links {
        font-size: 0.8rem;
        gap: 0;
        margin-top: 4%;
        margin-bottom: 10%;
        text-align: center;
    }

    .apresentacao-conteudo-links-link {
        gap: 5%;
    }

    .apresentacao-conteudo-titulo {
        font-size: 1rem;
    }

    .apresentacao-conteudo-subtitulo {
        /* text-align: center; */
        font-size: 1rem;
    }
}